body {
    background-color: #FBE6C7;
}

.outside-banner {
    background-color: #FBBB55;
    border: 3px solid #6c4b2e;
    margin: 30px 50px 30px 50px;
    padding: 20px;
}

.inner-banner {
    background-color: #dc3545;
    border: 3px solid #6c4b2e;
    margin: -10px;
    padding: 20px;
}

.welcome-banner {
    background-color: white;
    border: 3px solid #6c4b2e;
    margin: -10px;
    padding: 20px;
    border-radius: 20rem;
}

.app-title {
text-align: right;
font-size: 60px;
margin-top: 40px;
text-shadow: 5px 3px rgb(119,140,136);
font-family: 'Bungee', cursive;
color: #C7EAE4;
}

.logo {
width: 65%;
}

.form-container {
    margin-left: 110px;
    width: 80%;
    font-family: 'Sen', sans-serif;
}

.gif {
    float: right;
    width: 130px;
}

.progress {
    width: 60%;
    float: left;
    margin-top: 60px;
    margin-left: 100px;
}

.progress-bar {
    background-color: #78b01d;
}

.order-container {
    margin-bottom: 30px;
    margin-right: 50px;
    margin-left: 50px;
}

.menu, .media-board {
    background-color: white;
    border: 3px solid #6c4b2e;
    margin: 0px 19px 0px 19px;
    padding: 10px;
}

.burger-container {
    background-image: url(https://thumbs.dreamstime.com/b/red-white-checkered-tablecloth-background-texture-rhombus-plaid-tablecloths-clothes-shirts-dresses-paper-bed-red-133409188.jpg);
}

.list-group-item {
    margin: auto;
    width: 18.5rem;
    font-family: 'Sen', sans-serif;
}

.burger-icon {
    float: right;
}

h2 {
    font-family: 'Bungee', cursive;
    color: #FBBB55;
    /* text-shadow: 2px 2px rgb(249,157,10); */
    background-color: #dc3545;
    border-radius: 3rem;
}
