body {
    background-color: #FBE6C7;
}

.jumbotron {
    background-color: white;
    border: 3px solid #6c4b2e;
    margin: 30px 50px 30px 50px;
    padding: 20px;
}

.app-title {
text-align: right;
font-size: 60px;
margin-top: 70px;
}

.logo {
width: 65%;
}

.form-container {
    margin-left: 140px;
    width: 80%;
}

.burger-container {
    margin-bottom: 30px;
}